<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Skills </h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">This area contain myskills with refrence of my certification </p>
        </div>
        <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/3 sm:w-1/2 p-4">
                <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://tse4.mm.bing.net/th?id=OIP.E4od0LKRNcYZ6ueDyfSqIQHaEK&pid=Api&P=0&h=180">
                    <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                        <h2 class="tracking-widest text-sm title-font font-medium text-yellow-500 mb-1">Python</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Programming Essentials in Python</h1>
                        <p class="leading-relaxed">The graduate of the PCAP: Programming Essentials in Python course, provided by Cisco Networking Academy®in collaboration with OpenEDG Python Institute</p>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
                <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://tse1.mm.bing.net/th?id=OIP.mpbzestMKZ9rOtHA7KIaHwHaEE&pid=Api&P=0&h=180">
                    <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                        <h2 class="tracking-widest text-sm title-font font-medium text-yellow-500 mb-1">SQL</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Datacamp Intermediate SQL</h1>
                        <p class="leading-relaxed">Advanced querying skills, proficiency in data manipulation and transformation, expertise in database design and optimization, familiarity with complex data types, and practical experience in applying SQL to real-world datasets,
                            enabling you to tackle diverse data-related challenges effectively in your professional career.

                        </p>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
                <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://tse4.mm.bing.net/th?id=OIP.T52b3tEtc3FlGR4Pv08WngHaEK&pid=Api&P=0&h=180">
                    <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                        <h2 class="tracking-widest text-sm title-font font-medium text-yellow-500 mb-1">Linux</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">NDG Unhatched linux course in cisco networking</h1>
                        <p class="leading-relaxed">I have proficiency in Linux command-line operations, file management, user administration, and basic scripting, enhancing your ability to manage network devices and troubleshoot issues effectively.</p>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
                <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://tse1.mm.bing.net/th?id=OIP.YePVzjkjsadOqzQ03wl5kAHaEO&pid=Api&P=0&h=180">
                    <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                        <h2 class="tracking-widest text-sm title-font font-medium text-yellow-500 mb-1">React JS</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Internship at High Radius</h1>
                        <p class="leading-relaxed">During this internship, I have profiency in React js to develop and deploy the fullstack web application using material UI and Node Js, Which also enhance my perfomance and UI Skill.</p>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
                <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://www.seekpng.com/png/detail/333-3334912_web-penetration-testing.png">
                    <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                        <h2 class="tracking-widest text-sm title-font font-medium text-yellow-500 mb-1">Web Penetration Testing</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">InternShala Ethical Hacking</h1>
                        <p class="leading-relaxed">Basics of Information Security, Computer Networking and Web Development, Information Gathering and VAPT of some important vulnerabilities in the OWASP top 10, Automating VAPT, and Documenting and Reporting Vulnerabilities.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>